.DS_Store
.ipynb_checkpoints
mongodb
spark
hadoop
data
mongo-hadoop
lib/mongo*
lib/pymongo_spark.py
elasticsearch
elasticsearch-hadoop
lib
ch03/static
ch06/web/static
*.pyc
ch06/scrape_faa.py
tmp
.idea
kafka
zeppelin
ch05/scrape_faa.py
